<div class="container">
  <div class="row ">
    <div class="col-sm-12 bg-blue">
      <app-header (newItemEvent)="crossOffItem($event)"></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" *ngFor="let array of dataStore">
      <!-- <app-section [storeArrayChild]="dataStore" > -->
      <!-- <app-card [storeArrayChild]="dataStore" *ngFor="let item of dataStore">
          <div > -->
      <div class="">
        <!-- <app-section [storeArrayChild]="dataStore" > -->
        <app-card [storeArrayChild]="array">
        </app-card>
        <!-- </app-section> -->

      </div>

    </div>
 


  </div>